
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    perspective: 1000px;
    overflow: hidden;
}

#fadeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none; /* Ensures it doesn't interfere with user interactions */
    transition: opacity 1s ease-in-out;
}
.arrow {
    
    width: 50px;
    height: 50px;
    background-color: #c5cfff;
    border-radius: 20%;
    border: none;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 1s ease-in-out;
}

.arrow:hover {
    background-color: #cecece;
}

.arrow img {
    width: 80%; /* Adjust image size */
    height: auto;
}
#next
{
    position :fixed;
    top:400px;
    right:35px;
}
#previous
{
    position :fixed;
    top:400px;
    left:35px;
}

.renderModes {
    
    width: 50px;
    height: 50px;
    background-color: #c5cfff;
    border-radius: 20%;
    border: none;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 1s ease-in-out;
}

.renderModes:hover {
    background-color:#cecece;
}

.renderModes img {
    width: 80%; /* Adjust image size */
    height: auto;
}
#basecolor
{
    position :fixed;
    top:10px;
    left:700px;
}
#normal
{
    position :fixed;
    top:10px;
    left:760px;
}
#metal
{
    position :fixed;
    top:10px;
    left:820px;
}
#rough
{
    position :fixed;
    top:10px;
    left:880px;
}
#shaded
{
    position :fixed;
    top:10px;
    left:940px;
}
#wireframe
{
    position :fixed;
    top:10px;
    left:1000px;
}
.navigation {
    
    width:50px;
    height: 50px;
    background-color: #c5cfff;
    border-radius: 20%;
    border: none;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 1s ease-in-out;
}

.navigation:hover {
    background-color:#cecece;
    
}

.navigation img {
    width: 80%; /* Adjust image size */
    height: auto;
}
#back
{
    position :fixed;
    top:10px;
    right:10px;
}
.threeD-box1 {
    width: 495px;
    height: 195px;
    background:  #ffffff00;
    border:5px #c2c2c2 solid;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0); /* Soft shadow for depth */
    display: none;
    transition: opacity 1s ease-in-out;
    position:absolute;
    bottom:10px;
    right:10px;
  }
  .threeD-box2 {
    width: 500px;
    height: 200px;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    display: none;
    transition: opacity 1s ease-in-out;
    position:absolute;
    bottom:10px;
    right:10px;
    background: rgba(138, 145, 250, 0.2);
    backdrop-filter: blur(5px);
  }
#info
{
    position:absolute;
    top:10px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style: narrow;
    color: #000000;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.6;
} 
.ExpContainer
{
    width: 97%;
    height: 96%;
    background-color: #ffffffb6;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 1s ease-in-out;
    opacity:0;
   
    scrollbar-width: none; 
    -ms-overflow-style: none;
    overflow: auto;
}
.ExpContainer::-webkit-scrollbar {
    display: none;
  }
#container1
{
    position :fixed;
    top:15px;
    left:25px;
    padding-bottom: 20px;
    
}
#menuBar
{
    position:absolute;
    top:0px;
    left:0px;
    width:1870px;
    height:50px;
    box-shadow: 1 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #ffffffee;

}
.Close
{
    width:30px;
    height: 30px;
    background-color: #ffffff00;
    border-radius: 20%;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0);
}
.Close img
{
    width: 80%; /* Adjust image size */
    height: auto; 
}
#close
{
    position:absolute;
    right:15px;
    top:8px;
}
#Profile
{
    position:absolute;
    top:70px;
    left:20px;
    border-radius: 10px;
    width:900px;
    height:700px;
    box-shadow: 1 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #ffffffee;
    overflow:hidden;
}
.CoverPic
{
    position:absolute;
    top:0px;
    left:0px;
    width:1200px;
    height:250px;
    box-shadow: 1 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #ffffffee;
    display:flex;
    overflow: hidden;
}
.CoverPic img
{
    width:100%;
    height:auto
}
.ProfilePic 
{
   
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px white;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 1s ease-in-out;
    opacity:0;
}
.ProfilePic img {
    width: 100%; /* Adjust image size */
    height: auto;
}
#Pic
{
    position :absolute;
    top:100px;
    left:50px;
}
#name
{
    position:absolute;
    top:300px;
    left:90px;
    font-size: 24px;
    font-family:  'Arial Narrow';
    font-style:normal;
}
#Designation
{
    position:absolute;
    top:335px;
    left:90px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style: narrow;
}
#Location
{
    position:absolute;
    top:360px;
    left:110px;
    font-size: 14px;
    font-family:  'Arial Narrow';
    font-style: narrow;
    color: #646363;
}
#locImage
{
    position:absolute;
    top:375px;
    left:90px;
    width:13px
    
}
#section1
{
    position:absolute;
    top:400px;
    left:30px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style: narrow;
    color: #000000;
    text-align: justify;
    margin-left: 20px;
    margin-right: 50px;
    line-height: 1.6;
}
#section2
{
    position:absolute;
    top:430px;
    left:30px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style: narrow;
    color: #000000;
    text-align: justify;
    margin-left: 20px;
    margin-right: 50px;
    line-height: 1.6;
}
#section3
{
    position:absolute;
    top:530px;
    left:30px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style: narrow;
    color: #000000;
    text-align: justify;
    margin-right: 50px;
    margin-left: 20px;
    line-height: 1.6;
}
#WorkEx
{
    position:absolute;
    top:70px;
    right:20px;
    border-radius: 10px;
    width:900px;
    height:970px;
    box-shadow: 1 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #ffffffee;
    overflow:hidden;
}
#workex
{
    position:absolute;
    top:20px;
    left:30px;
    font-size: 24px;
    font-family:  'Arial Narrow';
    font-style:normal;
}

#logo1
{
    position:absolute;
    top:100px;
    left:30px;
    width:5%;
}
#Company1
{
    position:absolute;
    top:100px;
    left:80px;
    font-size: 17px;
    font-family:  'Arial Narrow';
    font-style:normal;
}
#Duration1
{
    position:absolute;
    top:120px;
    left:80px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
    color:#646363
}

#LastDesig
{
    position:absolute;
    top:170px;
    left:80px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
}
#LastDuration
{
    position:absolute;
    top:190px;
    left:80px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
    color:#646363
}
#LastWork
{
    position:absolute;
    top:220px;
    left:80px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
    text-align: justify;
    margin-right: 50px;
}
.custom-list {
    position:absolute;
    top:220px;
    left:60px;
    margin-right: 80px;
    text-align: justify;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
    list-style-type: square; /* Options: disc (default), circle, square, none */
  }

  #MiddleDesig
{
    position:absolute;
    top:400px;
    left:80px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
}
#MiddleDuration
{
    position:absolute;
    top:420px;
    left:80px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
    color:#646363
}
.custom-middle-list {
    position:absolute;
    top:450px;
    left:60px;
    margin-right: 80px;
    text-align: justify;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
    list-style-type: square; /* Options: disc (default), circle, square, none */
  }

  #FirstDesig
{
    position:absolute;
    top:570px;
    left:80px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
}
#FirstDuration
{
    position:absolute;
    top:590px;
    left:80px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
    color:#646363
}
.custom-first-list {
    position:absolute;
    top:620px;
    left:60px;
    margin-right: 80px;
    text-align: justify;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
    list-style-type: square; /* Options: disc (default), circle, square, none */
  }
  #logo2
{
    position:absolute;
    top:730px;
    left:30px;
    width:5%;
}
#Company2
{
    position:absolute;
    top:730px;
    left:80px;
    font-size: 17px;
    font-family:  'Arial Narrow';
    font-style:normal;
}
#Duration2
{
    position:absolute;
    top:750px;
    left:80px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
    color:#646363
}

#Desig
{
    position:absolute;
    top:790px;
    left:80px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
}
#Duration
{
    position:absolute;
    top:810px;
    left:80px;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
    color:#646363
}
.custom-list-1st {
    position:absolute;
    top:840px;
    left:60px;
    margin-right: 80px;
    text-align: justify;
    font-size: 15px;
    font-family:  'Arial Narrow';
    font-style:normal;
    list-style-type: square; /* Options: disc (default), circle, square, none */
  }
#Education{
    position:absolute;
    top:790px;
    left:20px;
    border-radius: 10px;
    width:900px;
    height:420px;
    box-shadow: 1 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #ffffffee;
    overflow:hidden;
}
#education{
    position:absolute;
    top:20px;
    left:30px;
    font-size: 24px;
    font-family:  'Arial Narrow';
    font-style:normal;
}
#PG
{
    position:absolute;
    top:93px;
    left:100px;
    font-size: 17px;
    font-family:  'Arial Narrow';
    font-style:normal; 
}
#year1
{
    position:absolute;
    top:90px;
    left:350px;
    font-size: 17px;
    font-family:  'Arial Narrow';
    font-style:normal; 
}
#inst1
{
    position:absolute;
    top:120px;
    left:100px;
    font-size: 17px;
    font-family:  'Arial Narrow';
    font-style:normal; 
}
#emblem1
{
    position:absolute;
    top:100px;
    left:30px;
    width:7%;
}
#Degree
{
    position:absolute;
    top:203px;
    left:100px;
    font-size: 17px;
    font-family:  'Arial Narrow';
    font-style:normal; 
}
#year2
{
    position:absolute;
    top:200px;
    left:450px;
    font-size: 17px;
    font-family:  'Arial Narrow';
    font-style:normal; 
}
#inst2
{
    position:absolute;
    top:230px;
    left:100px;
    font-size: 17px;
    font-family:  'Arial Narrow';
    font-style:normal; 
}
#emblem2
{
    position:absolute;
    top:200px;
    left:30px;
    width:7%;
}
#School
{
    position:absolute;
    top:300px;
    left:100px;
    font-size: 17px;
    font-family:  'Arial Narrow';
    font-style:normal; 
}
#year3
{
    position:absolute;
    top:297px;
    left:270px;
    font-size: 17px;
    font-family:  'Arial Narrow';
    font-style:normal; 
}
#inst3
{
    position:absolute;
    top:330px;
    left:100px;
    font-size: 17px;
    font-family:  'Arial Narrow';
    font-style:normal; 
}
#emblem3
{
    position:absolute;
    top:300px;
    left:30px;
    width:7%;
}
#Skills{
    position:absolute;
    top:1060px;
    right: 20px;
    border-radius: 10px;
    width:900px;
    height:150px;
    box-shadow: 1 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #ffffffee;
    overflow:hidden;
}
#skills{
    position:absolute;
    top:20px;
    left:30px;
    font-size: 24px;
    font-family:  'Arial Narrow';
    font-style:normal;
}
#softwares
{
   width:50%;
   height:auto;
   position: absolute;
   top:70px;
   left:18px;
}
#gap
{
   position:absolute;
   height:20px;
   width:100px;
   background-color: #ffffff00;
   top:1210px;
}
.bookdiv
{
    position: absolute;
    width: 100%;
    height: 100%;
    display:none;
    opacity:0;
    transition: opacity 1s ease ease-in-out; 
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
}
#bg
{
    position:absolute;
    width:100%;
    height:auto;
    opacity:0.7;
    backdrop-filter: blur(5px);
}
.book {
    position: absolute;
    width: 700px;
    height: 900px;
    transition: transform 0.5s;
    left:600px;
    top:25px;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}
.front img,
.back img
{
    width: 80%; /* Adjust image size */
    height: auto;
}
.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-content img,
.back-content img
{
    width: 80%; /* Adjust image size */
    height: auto;
}
.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}




i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 5;
}

#p2 {
    z-index: 4;
}

#p3 {
    z-index: 3;
}
#p4 {
    z-index: 2;
}
#p5 {
    z-index: 1;
}
.buttons {
    
    width: 50px;
    height: 50px;
    background-color: #c5cfff;
    border-radius: 20%;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    
}

.buttons:hover {
    background-color: #cecece;
}

.buttons img {
    width: 80%; /* Adjust image size */
    height: auto;
}
#prev-btn
{
    position :fixed;
    top:400px;
    left:35px;
}
#next-btn
{
    position :fixed;
    top:400px;
    right:35px;
}
#closebutton
{
    position :fixed;
    top:10px;
    right:10px;
}
